<!DOCTYPE html> {% load static %}
<script language="javascript">
  function writeCheck() {
    var form = document.writeform;

    if (!form.title.value) {
      alert("제목을 적어주세요");
      form.title.focus();
      return;
    }
    if (!form.text.value) {
      alert("내용을 적어주세요");
      form.text.focus();
      return;
    }
    form.submit();
  }
</script>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
  <title>게시판 글쓰기</title>
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'board/css/bootstrap.min.css' %}">

  <!-- Custom CSS -->
  <!--link type="text/css" href="{% static 'board/css/stylish-portfolio.css' %}" rel="stylesheet"-->
  <link rel="stylesheet" href="{% static 'board/css/post.css' %}">

  <!-- Custom Fonts -->
  <link href="{% static 'board/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1><a href="/board" style="color:white;">JK Portfolio Blog</a></h1>
    <h2>Full-Stack Developer &amp; Musik Lover</h2>
  </header>
  <article>
    <form name=writeform action="/board/submit/" method="post">
      <h1><input type=text name=title size=50 maxlength=50 value="제목을 입력해주세요 . . ."></h1>
      <br>
      <p><textarea name=text cols=50 rows=10 style="margin: 0px; width: 972px; height: 206px;">글 내용을 입력해주세요 . . .</textarea></p>
    </form>
    <input type=button value="등록" OnClick="javascript:writeCheck();">
  </article>
</body>

</html>
